// Theme Colors
$sky: #1EB4E6 !default;
$blue: #3C6AF5 !default;
$grape: #605dba !default;
$purple: #747ed1 !default;
$violet: #D68BD6 !default;
$pink: #FD8991 !default;
$fuchsia: #FAB5FB !default;
$red: #F54F3F !default;
$orange: #ff9700 !default;
$yellow: #F4BA0B !default;
$green: #22c488 !default;
$leaf: #035c5a !default;
$aqua: #77D0FA !default;
$navy: #1A1A1A !default;
$ash: #9499a3 !default;